@font-face {
    font-family: Trebuchet;
    src: url('../fonts/Trebuchet%20MS.ttf');
}

@font-face {
    font-family: TrebuchetBoldItalic;
    src: url('../fonts/Trebuchet%20MS%20Bold%20Italic.ttf');
}
